$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-color: #2e2f42;
$secondary-color: #434455;
$active-color: #404bbf;
$pre-active-color: #4d5ae5;;
$accent-color: #ffffff;
$light-color: #e7e9fc;
$transition-duration-and-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$modal-form-color: #fcfcfc;
